.postals
{
    width: 90%;
    margin: auto;
    padding: 20px;
}

.post
{
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
}

.post .postal_image
{
    width: 100%;
    height: 225px;
}

.post .postal_descrip
{
    padding: 0.5em;
}

.post .postal_image img
{
    width: 100%;
    height: 100%;
}

.flex
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex p
{
    margin-top: 0;
    width: 50%;
}

.flex button
{
    padding: 1em;
    background-color: blue;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}


@media (min-width: 700px)
{
    .postals
    {
        width: 90%;
        margin: auto;
    }
   .post
   {
        flex-direction: row;
        gap: 20px;
   } 

   .post .postal_image img
   {
        width: 381.15px;
   }

   .post .postal_image
   {
        width: 381.15px;
   }

   .postal_descrip
   {
     flex-grow: 1;
     align-self: center;
   }
}

@media (min-width: 1000px)
{
    .postals
    {
        width: 70%;
        margin: auto;
    }

    .post
    {
        margin: 1em 0 1em 0;
    }
}